<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% @task = Task.new unless @task %>
<%= render 'tasks/form' , task: @task %>

<ul class="collection">
  <% @tasks.each do |task| %>
  <li class="collection-item">
    <%= check_box_tag :status , true, false %>
    <%= label_tag :status, "" %>
    <%= task.description %>
    <%= task.due_date.strftime("%Y/%m/%d") %>
    <a class="secondary-content"></a>

    <ul class="collection">
      <% @children.each do |child| %>
      <% if child.parent_id == task.id %>
      <li class="collection-item">
        <%= check_box_tag :status , true, false %>
        <%= label_tag :status, "" %>
        <%= child.description %>
        <%= child.due_date.strftime("%Y/%m/%d") %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
